<section class="post">
  <header class="post-header">
    <img class="post-avatar" alt="<%= post.author %> avatar" height="48" width="48" src="/img/common/<%= post.author.toLowerCase() %>.jpg">

    <h2 class="post-title"><a href="<%= post.url %>"><%= post.title %></a></h2>

    <p class="post-meta">
      By <a class="post-author" href="mailto:<%= post.author.toLowerCase() %>@standardanalytics.io"><%= post.author %></a> under <a class="post-category post-category-pure" href="#"><%= post.category %></a> <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://blog.standardanalytics.io<%= post.url %>" data-lang="en" data-via="RESTfulScience" data-text="<%= post.title %>">Tweet</a>
    </p>
  </header>

  <div class="post-description">
    <%- post.content %>
  </div>
</section>
